<h1><% @owner.to_s %></h1>
<%= link_to 'Edit', edit_owner_path(@owner) %>
<p><b>Occupation:</b> <%= @owner.occupation %></p>
<p><b>Age:</b> <%= @owner.age %></p>

<img src="<%= @owner.img_url %>" alt="Owner_img_url">

<h3>Dog</h3>

<ul>
	<% @owner.dogs.each do |dog| %>
		<li>
			<%= link_to dog.name, dog_path(dog) %>
		</li>
	<% end -%>
</ul>

<p><%= link_to 'Delete', @owner, method:'delete', data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Go back to all owners', owner_path %></p>